@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: white
}

.hero-carousel {
  @apply relative max-w-[560px] h-screen w-full sm:mx-auto;
} 

.carousel{
  @apply h-screen w-full relative
}

.carousel .control-dots .dot {
  @apply  bg-transparent !important;
}

.progress-ring__circle {
  stroke-dasharray: 400, 400;
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}